@media(min-width: 1024px){
  body {
    height: 100%;
  }
  
  .main-container {
    flex-direction: row;
  }
  
  .lista-produtos {
    height: 971px;
    flex-wrap: wrap;
    overflow-y: scroll;
    -webkit-box-shadow: -5px 6px 3.3px 0 var(--shadow);
    -moz-box-shadow: -5px 6px 3.3px 0 var(--shadow);
    box-shadow: -5px 6px 3.3px 0 var(--shadow);
  }
}